/* bisa-responsive.css*/

@media (max-width: 767px) {
	#load-page-logo {
		left: 0%;
	}
	.intro-section {
		padding-top: 50px;
		min-height: 100%;
		overflow: hidden;
	}
	.intro-photo {
		left: -25% !important;
		width: 150% !important;
	}
	#info-to-hover {
		left: 46%;
	}
	#officer-header {
		left: 0%;
		font-size: 14px;
	}
	#photoset-info {
		width: 350px;
		height: 80px;
		top: 65%;
	}
	#photoset-info > .info {
		font-size: 10px;
		padding: 10px;
		line-height: 14px;
	}
	#photoset-info > .name {
		font-size: 20px;
	}
	#photoset-info > .position {
		font-size: 10px;
	}
	.h1 {
		font-size: 40px;
	}
	.about-section,
	.gallery-section {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.contact-section {
		padding-top: 5%;
		padding-bottom: 30%;
	}
	#about-right,
	#gallery-left,
	#contact-left,
	#contact-mobile,
	#contact-right {
		padding-top: 40px;
	}
	#officer-header {
		padding: 5px 10px;
	}
	.officer-section {
		padding-top: 30%;
		min-height: 100%;
	}
	.footer-section {
		padding-top: 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#officer-header {
		left: 33.5%;
	}
	#photoset-info {
		width: 500px;
		height: 58px;
		top: 18%;
	}
	#photoset-info > .info {
		font-size: 8px;
		padding: 8px 12px;
		line-height: 10px;
	}
	.name {
		font-size: 16px;
	}
	.position {
		font-size: 6px;
	}
	.about-section,
	.gallery-section {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.contact-section {
		padding-top: 5%;
		padding-bottom: 15%;
	}
	#about-left,
	#about-right,
	#gallery-left,
	#gallery-right,
	#contact-left,
	#contact-right,
	#contact-mobile {
		padding-top: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#officer-header {
		left: 36%;
	}
	#photoset-info {
		width: 700px;
		height: 80px;
		top: 15%;
	}
	#photoset-info > .info {
		font-size: 10px;
		padding: 10px 15px;
		line-height: 15px;
	}
	.name {
		font-size: 20px;
	}
	.about-section,
	.gallery-section,
	.contact-section {
		padding-top: 10%;
		padding-bottom: 10%;
	}
	#about-right {
		padding-top: 50px;
	}
	#gallery-right {
		padding-top: 50px;
	}
	#contact-left {
		padding-top: 80px;
	}
	#contact-right{
		padding-top: 40px;
	}
}
@media (min-width: 1200px) {
	#about-left {
		padding-top: 20px;
	}
	#photoset-info {
		width: 800px;
		height: 95px;
		top: 18%;
	}
	#photoset-info > .info {
		font-size: 12px;
		padding: 10px 20px;
	}
	#gallery-right {
		padding-top: 50px;
	}
}
